.justify-center {
  justify-content: center;
}

.btn-action-space {
  margin-right: 10px;
}

.btn-action-more-padding {
  padding: 0 30px;
}

.not-selectable {
  user-select: none;
}

.form-container {
  display: flex;
  justify-content: space-evenly;
  &__left-column,
  &__right-column {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  &__right-column textarea {
    flex-grow: 1;
  }
}

@media screen and (max-width: 1200px) {
  .form-container {
    &__left-column,
    &__right-column {
      width: 40%;
    }
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    flex-direction: column;
    align-items: center;
    &__left-column,
    &__right-column {
      width: 80%;
    }
  }
}

@media screen and (max-width: 576px) {
  .form-container {
    &__left-column,
    &__right-column {
      width: 100%;
    }
  }
}
