<div class="dialog-header">
  <h2 mat-dialog-title class="dialog-title">Favorite Animal</h2>
  <div mat-dialog-actions class="dialog-close">
    <button matSuffix mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
  <img [src]="bookData.cover" [alt]="bookData.title" />
  <mat-divider inset="true"></mat-divider>
  <h3>{{ bookData.title }}</h3>
  <span>{{ bookData.genre }}</span>
  <p>{{ bookData.content }}</p>
  <ul>
    <li *ngFor="let review of bookData.reviews">
      <span>{{ review.reviewer }}</span>
      <p>{{ review.message }}</p>
    </li>
  </ul>
</mat-dialog-content>
