<div class="wrapper">
  <mat-card-header>
    <mat-card-title><h1>Library</h1></mat-card-title>
  </mat-card-header>
  <app-edit-book></app-edit-book>
  <div class="vertical-indent"></div>
  <mat-card>
    <mat-tab-group
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      [style]="{ minHeight: '400px', maxHeight: '400px' }"
    >
      <mat-tab *ngFor="let tab of tabs" [label]="tab.label">
        <app-book-list [fetchurl]="tab.fetchurl"></app-book-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
