<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Add Book</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title" />
      </mat-form-field>
      <mat-form-field (click)="fileInput.click()">
        <input
          type="file"
          #fileInput
          [style]="{ display: 'none' }"
          accept=".jpeg,.jpg,.png"
          (change)="onFileSelected(fileInput)"
        />
        <input
          matInput
          tabindex="-1"
          readonly="true"
          placeholder="Cover"
          [value]="selectedFileName"
        />
        <mat-label *ngIf="selectedFileName">Cover</mat-label>
        <button mat-raised-button matSuffix [style]="{ padding: '28px 16px' }">
          Choose...
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Genre</mat-label>
        <input matInput placeholder="Genre" formControlName="genre" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Author</mat-label>
        <input matInput placeholder="Author" formControlName="author" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Content</mat-label>
        <textarea
          matInput
          placeholder="Content"
          formControlName="content"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="justify-center">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="btn-action-space btn-action-more-padding"
      >
        Add
      </button>
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="formReset()"
        class="btn-action-more-padding"
      >
        Clear
      </button>
    </mat-card-actions>
  </form>
</mat-card>
